@import "compass";

body {
	background: $white url("/skin/images/debut_light.png") 0 0 repeat;
	color: $black;
}


body>header {
	background: rgba($white,0.7);
	@include box-shadow(0 0 7px rgba(0,0,0,0.3));
}

article {
	background: rgba($white,0.3);
}


a {
	color:$red;
	&:visited {
		color: tint($red,65%);
	}
	&:hover {
		color: $darkGrey;
	}
}