@import "lib";

.feed {
	header {
		@include breakpoint(wide) {
			display: table;
			width: 100%;
		}
	}
	.feed_meta {
		img {
			@include breakpoint(wide) {
				max-width: 10em;
				float: left;
				margin-right: $u;
			}
			max-height: 11em;
			display: block;
		}
		@include breakpoint(wide) {
			display: table-cell;
			padding-right: $u*2;
		}
	}

	h1 {
		overflow: hidden;
	}
}

.feed_description {
	color: $grey;
	overflow: hidden;
}

.feed_items {
	@include breakpoint(wide) {
		display: table;
	}
	li {
		display: table-row;
	}
	.date {
		font-size: 0.9em;
		color: $grey;
		display: table-cell;
		width: 10em;
		text-align: right;
		padding-right: $u;
	}
	a {
		display: table-cell;
	}
}

.feed_edit_button {
	display:block;
	margin-right: $u;
	@include breakpoint(wide) {
		position: static;
		display: inline;
	}
}

.feed_update {
	padding: $u;
	margin: $u 0;
	background: rgba(0,0,0,0.05);
	font-size: 0.8em;
	max-width: 100%;
	vertical-align: middle;
	div {
		display: inline-block;
	}
	button {
		float: right;
	}
	@include breakpoint(wide) {
		display: inline-block;
	}
}

.feed_toolbar {
	@include breakpoint(wide) {
		display: table-cell;
		text-align: right;
		background: none;
		margin: 0;
		vertical-align: top;
		button {
			float: none;
		}
	}
}

.copyright {
	margin: $u*2 0 $u;
	padding-top: $u;
	border-top: 1px dotted $grey;
	color: $grey;
	font-size: 0.7em;
}