@import "lib";

.feed_edit {
	@include vertical-inset-shadows($strength:0.2);
	@include breakpoint(wide) {
		width: 600px;
		display: inline-block;
	}
}

.feed_delete {
	// background: rgba($black,0.1);
	button {
		box-shadow: 0 0 7px rgba($red,0.6);
	}
	@include breakpoint(wide) {
		display: inline-block;
		vertical-align: top;
		margin-left: $u*3;
	}
}
