@import "lib";

/* Abstract list */
.list {
	margin: $u 0;
	width: 100%;
	li {
		min-height: 1.9em;
		&:nth-child(odd) {
			background: rgba(0,0,0,0.03);
		}
	}
	a {
		padding: 3px 0;
		white-space: nowrap;
		text-decoration:none;
	}
	.title {
		text-decoration: underline;
		vertical-align: middle;
	}
	img {
		margin: 0 7px;
		vertical-align: middle;
		max-width: 4em;
		@include breakpoint(narrow) {
			max-height: 81px;
			max-width: 100%;
		}
	}
}


.feeds_list {
	margin: $u/2 0-$u;
	$imageWidth: 100px;
	a {
		display: block;
		padding: 0 $u;
		min-height: 50px;
		position: relative;
		&:visited {
			color: $red;
		}
	}
	.imageWrap {
		display: inline-block;
		width: $imageWidth;
		height: $imageWidth;
		position: relative;
		margin-right: $u*2;
		text-align: right;
		line-height: $imageWidth;
		vertical-align: middle;
	}
	img {
		margin: 0;
		max-width: $imageWidth;
	}
}

.feed_add {
	margin: 0;
	padding: $u;
	background: rgba(0,0,0,0.05);
	box-shadow: 0 0 7px rgba(0,0,0,0.15) inset;
	text-align: center;
	max-width: 100%;
	input {
		width: 14em;
	}
	@include breakpoint(wide) {
		position: absolute;
		top: 0.5em;
		right: 0;
		background: none;
		box-shadow:none;
		text-align: left;
		input {
			width: 20em;
		}
	}
}
