.feed_item {
	// don't allow an excessive measure
	max-width: 50em;
	margin: 0 auto;
	h1 {
		margin-bottom: 0;
	}
	.date {
		font-size: 0.8em;
		color: $grey;
	}
	.description {
		@include vertical-inset-shadows($bottom: false);
		padding-top: $u;
		margin: $u*2 0;
		overflow: hidden;
	}
}

.back_to_feed {
	&:before {
		content: '< ';
	}
}

.feed_item_thumbnail {
	float: right;
	margin: 0 0 $u $u;
}

.item_link {
	display: block;
	padding: $u;
	background: rgba($black,0.1);
	text-align: right;
	&:after {
		content: ' >';
	}
}