@import "lib";

input, button, textarea {
	font-size: 1em;
	font-family: $fontFamily;
	padding: $u/4 $u/2;
}


form {
	padding: $u*2;
	margin: $u*2 0;
	max-width: 700px;

	.row {
		label {
			display: block;
			margin: $u 0 $u/3;
		}
		input[type="text"], input[type="url"], textarea {
			width: 100%;
			display:block;
		}
		& ~ button {
			float:right;
			margin-top: $u*2;
			min-width: 5em;
		}
	}

	button {
		font-size: 1.25em;
		font-weight: bold;
		min-width: 4em;
	}
}