/* apply a natural box layout model to all elements */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body>header {
	padding: $u;
	height: $headerHeight;
}
	#logo {
		color: $red;
		font-size: 2.4em;
		text-decoration:none;
		display: block;
	}

article {
	padding: $u;
	position: relative;

	&>header {
		position: relative;
	}
}