/**
 * Sass library
 */

$u: 10px;

$headerHeight: 4.2em;


/**
 * Colours
 */
$white: #fff;
$black: #333;
$red: rgb(177, 9, 9);
$grey: #666;
$darkGrey: #333;
$yellow: rgb(255, 255, 182);



$fontFamily: 'Habibi', serif;