@import "compass";

@mixin breakpoint($point) {
  @if $point == wide {
    @media (min-width: 800px) { @content; }
  }
  @else if $point == narrow {
    @media (min-width: 510px)  { @content; }
  }
  @else if $point == very-narrow {
    @media (min-width: 260px)  { @content; }
  }
}


@mixin vertical-inset-shadows ($height:7px,$strength:0.1,$top:true,$bottom:true) {
	position: relative;
	@if ($top == true) {
		&:before {
			content: '';
			position: absolute;
			height: $height;
			top: 0;
			left: 0;
			right: 0;
			@include background(linear-gradient(0deg,rgba($black,0),rgba($black,$strength)));
		}
	}
	@if ($bottom == true) {
		&:after {
			content: '';
			position: absolute;
			height: $height;
			left: 0;
			right: 0;
			bottom: 0;
			@include background(linear-gradient(0deg,rgba($black,$strength),rgba($black,0)));
		}
	}
}