@import "lib";

@font-face {
  font-family: 'Habibi';
  font-style: normal;
  font-weight: 400;
  src: local('Habibi'), local('Habibi-Regular'), url(http://themes.googleusercontent.com/static/fonts/habibi/v2/_qW8K8NLtlS30VjiJCqOwevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

body {
	font-family: $fontFamily;
	line-height: 1.5;
	font-size: 1em;
}

h1 {
	font-size: 2em;
	margin: 0.3em 0;
	&:first-child {
		margin-top:0;
	}
}
h2 {
	@extend h1;
	font-size: 1.4em;
	margin: 0.2em 0 0.1em;
}
h3 {
	@extend h2;
}
h4 {
	@extend h3;
}

p {
	margin: $u 0;
	&:first-child {
		margin-top: 0;
	}
}